.nav-exercicios{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 10px;
    flex-wrap: wrap;
}

.link-exercicio{
    color: black;
}

.exercicio{
    width: 2rem;
    height: 2rem;
    background-color: rgba(83, 83, 83, 0.651);
    border-radius: 20px;
    text-align: center;
    align-content: center;
}
